* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

:root {
    --primary-green: #519A91;
    --secondary-green: #D6EAE8;
    --terciary-green: #346A63;

    --primary-grey: #F2F2F2;
    --secondary-grey: #535353;

    --primary-white: #FFFFFF;
}

/* SIDEBAR */
#aside {
    background: linear-gradient(130deg, rgba(81,154,145,1) 0%, rgba(81,154,145,1) 42%, rgba(53,104,107,1) 84%);
    width: 22vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.aside-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* TOPO */
.box-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    gap: 5vh;
}

.box-info-2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

/* USER */
.user-info {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.user-info-names {
    display: flex;
    flex-direction: column;
}

#user-name {
    font-size: 16px;
    color: white;
}

#user-description {
    font-size: 12px;
    color: white;
}

/* MENU */
.box-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.menu-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 80%;
}

.menu-tabs li {
    list-style: none;
    width: 80%;
    border-radius: 10px;
}

.menu-tabs li a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    width: 100%;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    font-size: 14px;
    color: #535353;
    transition: 0.2s;
}

.menu-tabs li a:hover {
    background-color: #D6EAE8;
    color: #346A63;
}

.menu-tabs li.active a {
    background-color: #D6EAE8;
    color: #346A63;
    font-weight: 600;
}

#btn-logout {
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

#btn-logout img {
    height: 50px;
    cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 992px) {
    #aside {
        position: relative;
        width: 100%;
        height: auto;
    }
}